@inherits LayoutComponentBase
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: Raleway, sans-serif;
        }
        /* html, body {
                    display: flex;
                    justify-content: center;
                    font-family: Roboto, Arial, sans-serif;
                    font-size: 15px;
                    min-height: 95vh;
                    margin: 0px;
                    padding: 0px;
                }

                * {
                    box-sizing: border-box;
                    margin: 0;
                    padding: 0;
                    font-family: Raleway, sans-serif;
                }

                body {
                    background: rgb(2,0,36);
                    background: linear-gradient(140deg, rgba(0,212,255,1) 0%, rgba(173,34,194,1) 35%, rgba(0,212,255,1) 100%);
                } */
        /* Change styles for span on extra small screens */
        /* screen and (max-width: 300px) {
                              span.psw {
                              display: block;
                              float: none;
                              } */
    </style>
</head>
@Body
