html[b-ap8cz4qv0p], body[b-ap8cz4qv0p] {
    display: flex;
    justify-content: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    min-height: 95vh;
    margin: 0px;
    padding: 0px;
}


body[b-ap8cz4qv0p] {
    background: rgb(2,0,36);
    background: linear-gradient(140deg, rgba(0,212,255,1) 0%, rgba(173,34,194,1) 35%, rgba(0,212,255,1) 100%);
}

.container[b-ap8cz4qv0p] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(140deg, rgba(0,212,255,1) 0%, rgba(173,34,194,1) 35%, rgba(0,212,255,1) 100%);
}

.screen[b-ap8cz4qv0p] {
    background: linear-gradient(90deg, #c222b9, rgba(173,34,194,1));
    position: relative;
    height: 600px;
    width: 360px;
    box-shadow: 0px 0px 24px #5C5696;
}

.screen__content[b-ap8cz4qv0p] {
    z-index: 1;
    position: relative;
    height: 100%;
}

.screen__background[b-ap8cz4qv0p] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
}

.screen__background__shape[b-ap8cz4qv0p] {
    transform: rotate(45deg);
    position: absolute;
}

.screen__background__shape1[b-ap8cz4qv0p] {
    height: 520px;
    width: 520px;
    background: #FFF;
    top: -50px;
    right: 120px;
    border-radius: 0 72px 0 0;
}

.screen__background__shape2[b-ap8cz4qv0p] {
    height: 220px;
    width: 220px;
    background: #6C63AC;
    top: -172px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape3[b-ap8cz4qv0p] {
    height: 540px;
    width: 190px;
    background: linear-gradient(270deg, #5D54A4, #6A679E);
    top: -24px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape4[b-ap8cz4qv0p] {
    height: 338px;
    width: 187px;
    background: #5f58a2;
    top: 406px;
    right: 15px;
    border-radius: 60px;
}

.login[b-ap8cz4qv0p] {
    width: 320px;
    padding: 30px;
    padding-top: 156px;
}

.login__field[b-ap8cz4qv0p] {
    padding: 20px 0px;
    position: relative;
}

.login__icon[b-ap8cz4qv0p] {
    position: absolute;
    top: 30px;
    color: #7875B5;
}

.login__input[b-ap8cz4qv0p] {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
}

    .login__input:active[b-ap8cz4qv0p],
    .login__input:focus[b-ap8cz4qv0p],
    .login__input:hover[b-ap8cz4qv0p] {
        outline: none;
        border-bottom-color: #6A679E;
    }

.login__submit[b-ap8cz4qv0p] {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #4C489D;
    box-shadow: 0px 2px 2px #5C5696;
    cursor: pointer;
    transition: .2s;
}

    .login__submit:active[b-ap8cz4qv0p],
    .login__submit:focus[b-ap8cz4qv0p],
    .login__submit:hover[b-ap8cz4qv0p] {
        border-color: #6A679E;
        color: white;
        background: linear-gradient(153deg, rgba(0,198,255,1) 0%, rgba(160,34,194,0.908000700280112) 46%);
        outline: none;
    }

.button__icon[b-ap8cz4qv0p] {
    font-size: 24px;
    margin-left: auto;
    color: #7875B5;
}

.social-login[b-ap8cz4qv0p] {
    position: absolute;
    height: 140px;
    width: 160px;
    text-align: center;
    bottom: 0px;
    right: 0px;
    color: #fff;
}

.social-icons[b-ap8cz4qv0p] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-login__icon[b-ap8cz4qv0p] {
    padding: 20px 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 0px 8px #7875B5;
}

    .social-login__icon:hover[b-ap8cz4qv0p] {
        transform: scale(1.5);
    }
